{% extends "base.html" %}

{% block content %}
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card position-relative inner-page-bg bg-primary" style="height: 150px;">
                    <div class="inner-page-title">
                        <h3 class="text-white">About page</h3>
                        <p class="text-white">dont ask me</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-accordion career-style faq-style  ">
                    <div class="iq-card iq-accordion-block accordion-active">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> What is it? </span>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">Asscock - революционная соцсеть, первая в своем роде с поддержкой Spotify. </p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span> Why this? </span>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">idk</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a
                                            class="accordion-title"><span>Why this name? </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">Однажды я написал другу с просьбой придумать название. Родилось это.</p>
                        </div>
                    </div>
                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span>Можно использовать на данный момент?</span>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">Нет, на хост я пока не заливал:(</p>
                        </div>
                    </div>

                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span>А что по технологиям?</span>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">Фласк, апи от спотифая, много чего еще было лень делать)</p>
                        </div>
                    </div>

                    <div class="iq-card iq-accordion-block ">
                        <div class="active-faq clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12"><a class="accordion-title"><span>Вопросы?</span>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-details">
                            <p class="mb-0">Задавайте</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}