{% extends "base.html" %}

{% block content %}
<div class="header-for-bg">
    <div class="background-header position-relative">
        <img src="/static/images/page-img/profile-bg4.jpg" class="img-fluid w-100" alt="profile-bg">
        <div class="title-on-header">
            <div class="data-block">
                <h2>New Music</h2>
            </div>
        </div>
    </div>
</div>

<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">

            {% for music in new_music["albums"]['items'] %}
            <div class="col-md-6 col-lg-6">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="iq-birthday-block">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="/music/album/{{music['id']}}">
                                        <img src="{{ music['images'][0]['url'] }}" alt="profile-img" class="img-fluid" style="max-width: 300px; max-height: 300px;">
                                    </a>
                                    <div class="friend-info ml-3">
                                        <a href="/music/album/{{music['id']}}"><h5>{{music['name']}}</h5></a>
                                        <a href="/music/artist/{{music['artists'][0]['id']}}"><p class="mb-0">{{music['artists'][0]['name']}}</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}