{% extends "base.html" %}

{% block content %}

<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Account Setting</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="acc-edit">
                            <form action="" method="post">
                                {{ account_setting.hidden_tag() }}
                                <div class="form-group">
                                    <label for="name">{{account_setting.name.label}}</label>
                                    {{account_setting.name(type="text", class="form-control", id="name",
                                    value=current_user.name)}}
                                </div>
                                <div class="form-group">
                                    <label for="surname">{{account_setting.surname.label}}</label>
                                    {{account_setting.surname(type="text", class="form-control", id="surname",
                                    value=current_user.surname)}}
                                </div>

                                <div class="form-group">
                                    <label for="email">{{account_setting.email.label}}</label>
                                    {{account_setting.email(type="email", class="form-control", id="email",
                                    value=current_user.email)}}
                                </div>

                                <div class="form-group">
                                    <label for="email_again">{{account_setting.email_again.label}}</label>
                                    {{account_setting.email_again(type="email", class="form-control", id="email_again",
                                    value=(current_user.name + current_user.surname )|lower() + "@gmail.com") }}
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn iq-bg-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Social Media</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="acc-edit">

                            <form action="" method="post">
                                {{ social_media.hidden_tag() }}
                                <div class="form-group">
                                    <label for="vk">{{social_media.vk.label}}</label>
                                    {{social_media.vk(type="text", class="form-control", id="vk",
                                    value=current_user.vk)}}
                                    <div class="custom-control custom-checkbox">
                                        {% if current_user.show_vk %}
                                        {{social_media.show_vk(type="checkbox", class="custom-control-input",
                                        id="vkcheck", checked="")}}
                                        {% else %}
                                        {{social_media.show_vk(type="checkbox", class="custom-control-input",
                                        id="vkcheck")}}
                                        {% endif %}
                                        <label class="custom-control-label"
                                               for="vkcheck">{{social_media.show_vk.label}}</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="facebook">{{social_media.facebook.label}}</label>
                                    {{social_media.facebook(type="text", class="form-control", id="facebook",
                                    value=current_user.facebook)}}
                                    <div class="custom-control custom-checkbox">
                                        {% if current_user.show_facebook %}
                                        {{social_media.show_facebook(type="checkbox", class="custom-control-input",
                                        id="fbcheck", checked="")}}
                                        {% else %}
                                        {{social_media.show_facebook(type="checkbox", class="custom-control-input",
                                        id="fbcheck")}}
                                        {% endif %}
                                        <label class="custom-control-label" for="fbcheck">{{social_media.show_facebook.label}}</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="twitter">{{social_media.twitter.label}}</label>
                                    {{social_media.facebook(type="text", class="form-control", id="twitter",
                                    value=current_user.twitter)}}
                                    <div class="custom-control custom-checkbox">
                                        {% if current_user.show_twitter %}
                                        {{social_media.show_twitter(type="checkbox", class="custom-control-input",
                                        id="twittercheck", checked="")}}
                                        {% else %}
                                        {{social_media.show_twitter(type="checkbox", class="custom-control-input",
                                        id="twittercheck")}}
                                        {% endif %}
                                        <label class="custom-control-label" for="twittercheck">{{social_media.show_twitter.label}}</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="instagram">{{social_media.instagram.label}}</label>
                                    {{social_media.instagram(type="text", class="form-control", id="instagram",
                                    value=current_user.instagram)}}
                                    <div class="custom-control custom-checkbox">
                                        {% if current_user.show_instagram %}
                                        {{social_media.show_instagram(type="checkbox", class="custom-control-input",
                                        id="instcheck", checked="")}}
                                        {% else %}
                                        {{social_media.show_instagram(type="checkbox", class="custom-control-input",
                                        id="instcheck")}}
                                        {% endif %}
                                        <label class="custom-control-label" for="instcheck">{{social_media.show_instagram.label}}</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="youtube">{{social_media.youtube.label}}</label>
                                    {{social_media.youtube(type="text", class="form-control", id="youtube",
                                    value=current_user.youtube)}}
                                    <div class="custom-control custom-checkbox">
                                        {% if current_user.show_youtube %}
                                        {{social_media.show_youtube(type="checkbox", class="custom-control-input",
                                        id="ytcheck", checked="")}}
                                        {% else %}
                                        {{social_media.show_youtube(type="checkbox", class="custom-control-input",
                                        id="ytcheck")}}
                                        {% endif %}
                                        <label class="custom-control-label" for="ytcheck">{{social_media.show_youtube.label}}</label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn iq-bg-danger">Cancel</button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="acc-edit">
                            <form action="" method="post">
                                {{ change_password.hidden_tag() }}
                                <div class="form-group">
                                    <label for="upass">{{change_password.old_pass.label}}</label>
                                    {{change_password.old_pass(type="password", class="form-control", id="upass")}}
                                </div>

                                <div class="form-group">
                                    <label for="unewpass">{{change_password.new_pass.label}}</label>
                                    {{change_password.new_pass(type="password", class="form-control", id="unewpass")}}
                                </div>

                                <div class="form-group">
                                    <label for="unewpass_again">{{change_password.new_pass_again.label}}</label>
                                    {{change_password.new_pass_again(type="password", class="form-control",
                                    id="unewpass_again")}}
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn iq-bg-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title" id="update_avatar">Update Avatar</h4>
                        </div>
                    </div>
                    <div class="iq-card-body" style="text-align: center">
                        <img src="{{current_user.avatar}}" class="img-fluid" alt="Responsive image"
                             style="max-height: 450px; max-width: 450px;">
                        <form action="" method="post" name="simple" enctype="multipart/form-data">
                            {{ upload_avatar.hidden_tag() }}

                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title" style="margin-top: 5px;">
                                    <h4 class="card-title" id="update_avatar">{{upload_avatar.photo()}}</h4>
                                    <button class="btn btn-outline-primary mb-3" type="submit">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

{% endblock %}